<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Coin Combination</title>
  </head>
  <body>
    <div class="container">
      <h1>Coin Combination App</h1>
      <form action="/CoinCombination" method="get">
        <label for="amount"></label>
        <input id="amount" name="amount" class="form-control" type="number">
      </form>
      <button type="submit" class="btn-success">Submit</button>
    </div>
  </body>
</html>
